@{
    ViewBag.Title = "About";
}
<header class="banner">
    <img src="~/Content/Home/images/banner.png" width="100%"/>
    
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn Dragon</h3>

            <p>
                Với chất lượng đạt chuẩn Quốc tế 4 sao, Khách sạn Dragon không chỉ đáp ứng hoàn hảo nhu cầu nghỉ ngơi của Quý khách mà còn mang đến những giây phút thư giãn giải trí tuyệt vời và để lại dư vị ấn tượng trong văn hóa ẩm thực nơi đây. Khách sạn là sự kết hợp hài hòa của phong cách mang màu sắc sang trọng, hiện đại và cổ kính bao gồm cả quần thể Nhà hàng, Bể Bơi, sân Tennis và các khu vui chơi giải trí khác được quy tụ trong một khuôn viên rộng lớn gần 15.000 m2 .
                <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206639905983!2d106.78291401436115!3d10.855574792267886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sThu%20Duc%20Campus%20Hutech%20khu%20E!5e0!3m2!1svi!2s!4v1680537066830!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>

            </p>
        </div>
    </div>
</div>

