@{
    ViewBag.Title = "Liên Hệ";
}


<header class="banner">
    <img src="~/Content/Home/images/banner.png" width="100%" />

</header>


<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                
                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="gtco-contact-info">
                        <h3>Contact Information</h3>
                        <ul>
                            <li class="address">10/80C XL Hà Nội, Phường Tân Phú, Thủ Đức, <br>Thành phố Hồ Chí Minh, Việt Nam </li>
                            <li class="phone"><a href="tel://0326940434">0326940434</a></li>
                            <li class="email"><a href="mailto:kimdong240502@gmail.com">kimdong240502@gmail.com</a></li>
                           
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
