@{
    ViewBag.Title = "Dragon hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">


                <div class="row row-mt-15em">
                    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Sự thoải mái của bạn là niềm tự hào của chúng tôi</span>
                        <h1 class="cursive-font">Dragon Hotel</h1>
                    </div>
                   
                </div>


            </div>
        </div>
    </div>
</header>

